<html>
<body>
<div id="header" class="wrapper">
	<div class="logo">
		<a href="<light:url value='/'/>" title="To Dashboard">
			<img src="<light:url value='/dynamic/logo'/>"/>
		</a>
	</div>
	<div class="middleNav">
			<ul>
				<li class="iCreate">
					<a href="<light:url value='${light:domainBaseUrl(domainTypeAdministrationConfiguration)}'/>/create">
						<span>Create New</span>
					</a>
				</li>
				<li class="iArchive"><a href="#" class="not-implemented" title=""><span>Templates</span></a></li>
				<li class="iZipFiles"><a href="#" class="not-implemented" title=""><span>Export Data</span></a></li>
			</ul>
	</div>
	<div class="fix"></div>
</div>
</body>
</html>